<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">
                Sign In
            </h1>
            <div class="account-wall">
                <form class="form-signin"
                      name="form"
                      ng-submit="login(form)"
                      novalidate>

                    <div ng-class="{'has-error': form.email.$error.mongoose}">
                        <input type="text"
                               class="form-control"
                               placeholder="Email"
                               name="email"
                               ng-model="user.email"
                               required
                               autofocus
                               mongoose-error>
                        <p class="help-block"
                           ng-show="form.email.$error.mongoose">
                            {{ errors.email }}
                        </p>
                    </div>

                    <div ng-class="{'has-error': form.password.$error.mongoose}">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               name="password"
                               ng-model="user.password"
                               required
                               mongoose-error>
                        <p class="help-block"
                           ng-show="form.password.$error.mongoose">
                            {{ errors.password }}
                        </p>
                    </div>

                    <div class="form-group has-error">
                        <p class="help-block">{{ error.other }}</p>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in </button>

                    <span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>