<div>
    <div class="modal-header">
        <h3 class="modal-title">New Contact!</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="contact_form">
            <div class="input-field">
                <label for="contact_type" class="col-sm-3">Contact Type:</label>
                <select id="contact_type" type="button" class="btn btn-default" ng-model="contact.contact_type" required>
                    <option ng-repeat="option in enums.contacts.contact_type | filter: '!!'" ng-selected="option.selected">{{option}}</option>
                </select>
            </div>
            <div class="input-field">
                <label for="first_name" class="col-sm-3">First Name:</label>
                <input id="first_name" class="form-control" type="text" ng-model="contact.first_name" required />
            </div>
            <div class="input-field">
                <label for="last_name" class="col-sm-3">Last Name:</label>
                <input id="last_name" class="form-control" type="text" ng-model="contact.last_name" required />
            </div>
            <div class="input-field">
                <label for="phone_number" class="col-sm-3">Phone Number:</label>
                <input id="phone_number" class="form-control" type="text" ng-model="contact.phone_number" required />
            </div>
            <div class="input-field">
                <label for="email_address" class="col-sm-3">Email:</label>
                <input id="email_address" class="form-control" type="text" ng-model="contact.email_address" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()" ng-disabled="contact_form.$invalid">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>