<div ng-switch on="update">
    <div ng-switch-default>
        <div class="modal-header">
            <h3 class="modal-title">Contact!</h3>
        </div>
        <div class="modal-body">
            Contact Type: {{selected_contact.contact_type}} </br>
            Created At: {{selected_contact.created_at}} </br>
            First Name: {{selected_contact.first_name}} </br>
            Last Name: {{selected_contact.last_name}} </br>
            Phone Number: {{selected_contact.phone_number}} </br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="edit()">Edit</button>
            <button class="btn btn-danger" ng-click="delete()">Delete</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <div ng-switch-when="edit">
        <div class="modal-header">
            <h3 class="modal-title">Update Contact!</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" >
            <div class="row">
                <label for="contact_type" class="col-sm-3">Contact Type:</label>
                <select id="contact_type" type="button" class="btn btn-default" ng-model="selected_contact.contact_type" placeholder="{{selected_contact.contact_type}}" required>
                    <option ng-repeat="option in enums.contacts.contact_type | filter: '!!'" ng-selected="option.selected">{{option}}</option>
                </select>
            </div>

            <label for="first_name" class="col-sm-3">First Name:</label>
            <input id="first_name" class="form-control" type="text" ng-model="selected_contact.first_name" required />

            <label for="last_name" class="col-sm-3">Last Name:</label>
            <input id="last_name" class="form-control" type="text" ng-model="selected_contact.last_name" required />

            <label for="phone_number" class="col-sm-3">Phone Number:</label>
            <input id="phone_number" class="form-control" type="text" ng-model="selected_contact.phone_number" required />
            
            <label for="email_address" class="col-sm-3">Email:</label>
            <input id="email_address" class="form-control" type="text" ng-model="selected_contact.email_address" />
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submit()">Update</button>
            <button class="btn btn-warning" ng-click="edit_cancel()">Cancel</button>
        </div>
    </div>
</div>