
<h2 class="text-center">Add a new member</h2>
<div class="col-md-offset-2">
<form class="form-horizontal" name="member_form" novalidate>
  <!-- Name -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-4">

        <input id="name" class="form-control" type="text" ng-model="member.first_name" placeholder="First Name" 
               data-toggle="tooltip" data-placement="left" title="First name is required" required />
      </div>
      <div class="input-field col-sm-4">
        <input class="form-control" type="text" ng-model="member.last_name" placeholder="Last Name" 
               data-toggle="tooltip" data-placement="left" title="Last name is required" required />
      </div>
    </div>
  </div>

  <!-- Active / Gender -->
  <!--need to fix active indicator -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-4">
        <label for="is_active" class="col-sm-4 control-label">Active</label>
        <div class="input-field col-sm-2">
          <input id="is_active" type="checkbox" ng-model="member.is_active"/>
        </div>
      </div>
      <div class="input-field col-sm-4">
        <label for="gender" class="col-sm-4 control-label">Gender:</label>
        <div class="input-field col-sm-2">
          <select id="gender" type="button" class="btn btn-default" ng-model="member.gender" placeholder="Gender">
            <option ng-repeat="option in enums.members.gender | filter: '!!'" ng-selected="{{option == member.gender}}">{{option}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Address -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="home_address" class="form-control" type="text" ng-model="member.home_address" placeholder="Address"
               data-toggle="tooltip" data-placement="left" title="Address is required"required />
      </div>
    </div>

    <div class="row">
      <div class="input-field col-sm-8">
        <input id="home_address_2" class="form-control" type="text" ng-model="member.home_address_2" placeholder="Unit" />
      </div>
    </div>

    <div class="row">
      <div class="input-field col-sm-3">
        <input id="city" class="form-control" type="text" ng-model="member.city" placeholder="City" 
               data-toggle="tooltip" data-placement="left" title="City is required" required />
      </div>
      <div class="input-field col-sm-2">
          <select id="state" type="button" class="btn btn-default" ng-model="member.state" placeholder="ST">
            <option ng-repeat="option in enums.members.state | filter: '!!'" ng-selected="{{option == member.state}}">{{option}}</option>
          </select>
      </div>
      <div class="input-field col-sm-3">
        <input id="zip" class="form-control" type="text" ng-model="member.zip_code" placeholder="Zip" 
               data-toggle="tooltip" data-placement="left" title="Zipcode is required" required />
      </div>
    </div>
  </div>

  <!-- Phone Number -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="phone_number" class="form-control" type="text" ng-model="member.phone_number" placeholder="Phone Number" />
      </div>
    </div>
  </div>

  <!-- Email -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="email" class="form-control" type="text" ng-model="member.email_address" placeholder="Email" />
      </div>
    </div>
  </div>

  <!-- Date of Birth -->
  <div class="form-group">
    <div class="row">
      <label for="dob" class="col-sm-2 control-label">Date of Birth:</label>
      <div class="col-sm-3">
        <p class="input-group">
          <input id="dob" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="member.date_of_birth" is-open="opened" ng-required="true" close-text="Close" />
          <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open_date($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
        </p>
      </div>
    </div>
  </div>

  <!-- Member Type -->
  <div class="form-group">
    <div class="row">
      <label for="member_type" class="col-sm-2 control-label">Member Type</label>
      <div class="input-field col-sm-8">
        <select id="member_type" type="button" class="btn btn-default" ng-model="member.member_type" placeholder="Member Type">
          <option ng-repeat="option in enums.members.member_type | filter: '!!'" ng-selected="{{option == member.member_type}}">{{option}}</option>
        </select>
      </div>
    </div>
  </div>
  
  <!-- Member Affiliation -->
  <div class="form-group">
    <div class="row">
      <label for="affiliation" class="col-sm-2 control-label">Affiliation</label>
      <div class="input-field col-sm-8" ng-controller="TeamsController">
           <select id="affiliation" type="button" class="btn btn-default" ng-model="$parent.member.affiliation">
           <option ng-repeat="option in teams" ng-selected="option.selected" ng-value="option._id">{{option.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Skate Name -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="skate_name" class="form-control" type="text" ng-model="member.skate_name" placeholder="Skate Name" />
      </div>
    </div>
  </div>

  <!-- Skate Number -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="skate_number" class="form-control" type="text" ng-model="member.skate_number" placeholder="Skate Number" />
      </div>
    </div>
  </div>

  <!-- Skate Size -->
  <div class="form-group">
    <div class="row">
       <div class="input-field col-sm-8">
        <input id="skate_size" class="form-control" type="text" ng-model="member.skate_size" placeholder="Skate Size" />
      </div>
    </div>
  </div>

  <!-- Knee Pad Size -->
  <div class="form-group">
    <div class="row">
      <label for="knee_pad_size" class="col-sm-2 control-label">Knee Pad Size</label>
      <div class="input-field col-sm-8">
        <select id="knee_pad_size" type="button" class="btn btn-default" ng-model="member.knee_pad_size" placeholder="{{member.knee_pad_size}}">
          <option ng-repeat="option in enums.members.knee_pad_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Elbow Pad Size -->
  <div class="form-group">
    <div class="row">
      <label for="elbow_pad_size" class="col-sm-2 control-label">Elbow Pad Size</label>
      <div class="input-field col-sm-8">
        <select id="elbow_pad_size" type="button" class="btn btn-default" ng-model="member.elbow_pad_size" placeholder="{{member.elbow_pad_size}}">
          <option ng-repeat="option in enums.members.elbow_pad_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Wrist Size -->
  <div class="form-group">
    <label for="wrist_size" class="col-sm-2 control-label">Wrist Size</label>
    <div class="row">
      <div class="input-field col-sm-8">
        <select id="wrist_size" type="button" class="btn btn-default" ng-model="member.wrist_size" placeholder="{{member.wrist_size}}">
          <option ng-repeat="option in enums.members.wrist_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Helmet Pad Size -->
  <div class="form-group">
    <div class="row">
      <label for="helmet_size" class="col-sm-2 control-label">Helmet Size</label>
      <div class="input-field col-sm-8">
        <select id="helmet_size" type="button" class="btn btn-default" ng-model="member.helmet_size" placeholder="{{member.helmet_size}}">
          <option ng-repeat="option in enums.members.helmet_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Occupation -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="occupation" class="form-control" type="text" ng-model="member.occupation" placeholder="Occupation" />
      </div>
    </div>
  </div>

  <!-- Employer -->
  <div class="form-group">
    <div class="row">
      <div class="input-field col-sm-8">
        <input id="employer" class="form-control" type="text" ng-model="member.employer" placeholder="Employer" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <input type="button" class="btn btn-warning btn-lg" ng-click="clear()" value="Clear" />
    </div>
    <div class="col-sm-2">
    </div>
        <div class="col-sm-3">
      <input type="submit" class="btn btn-success btn-lg" ng-click="submit()" value="Submit" ng-disabled="member_form.$invalid"/>
    </div>

  </div>
</form>
</div>
