<h2 class="pageheader">Members</h2>
<div class="col-md-8 col-md-offset-2">
<table  class="table table-striped" >
  <thead>
    <tr>
      <th>Member Name</th>
      <th><a href="/members/new" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i>  Add New</a></th>
    </tr>
  </thead>
  <tbody ng-repeat="member in members">
    <tr>
      <td><a href="/members/{{ member._id }}">{{ member.first_name }} {{ member.last_name }}</a><br/><span class="text-muted small"><em>{{member.member_type}}</em></span></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>