<div class="container-fixed">
  <div class="row bottom-buffer">
    <div class="name-label col-md-2" style="white-space: nowrap">
      <h3 contenteditable="true" ng-model="member.first_name" style="text-align:left"></h3>
    </div>
    <div class="name-label col-md-2" style="white-space: nowrap">
      <h3 contenteditable="true" ng-model="member.last_name" style="text-align:left"></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <!-- Main Contact Info -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Main Contact Info</strong>
        </div>
        <div class="panel-body">
          <table class="table table-striped" >
            <tbody>
              <tr>
                <td class="field">
                  <span class="required">*</span>
                  Home Address:
                </td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.home_address"></div></td>
              </tr>
              <tr>
                <td class="field">Home Address 2:</td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.home_address_2"></div></td>
              </tr>
              <tr>
                <td class="field">
                  <span class="required">*</span>
                  City:
                </td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.city" ></div></td>
              </tr>
              <tr>
                <td class="field">
                  <span class="required">*</span>
                  State:
                </td>
                <td>
                  <select dropdowneditable type="button" class="btn btn-default" ng-model="member.state" placeholder="{{member.state}}" >
                    <option ng-repeat="option in enums.members.state | filter: '!!'" ng-selected="{{option === member.state}}">{{option}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="field">
                  <span class="required">*</span>
                  Zip:
                </td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.zip_code" ></div></td>
              </tr>
              <tr>
                <td class="field">Phone Number:</td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.phone_number"></div></td>
              </tr>
              <tr>
                <td class="field">Email:</td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.email_address"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Alt. Contact Info -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Alt. Contact Info</strong>
          <button class="btn btn-default btn-xs pull-right" ng-click="add_contact()">Add New</button>
        </div>
        <div class="panel-body">
          <div class="list-group" ng-repeat="contact in member.contacts">
            <a ng-click="open(contact)" class="list-group-item"> <strong>{{contact.first_name}} {{contact.last_name}}</strong>
              <span class="pull-right text-muted small"><em>{{contact.contact_type}}</em></span><br/>
              <strong class="text-bold">Phone:</strong> {{contact.phone_number}}
            </a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Notes</strong>
          <button class="btn btn-default btn-xs pull-right" ng-click="add_note()">Add New</button>
        </div>
        <div class="panel-body">
          <div class="list-group" ng-repeat="note in notes">
            <a ng-click="open_note(note)" class="list-group-item"><strong>{{note.created_by}}</strong><span class="pull-right text-muted note_content">{{note.content | truncate}}</span><br/>
              <span class="text-muted small">{{note.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Basic Information</strong>
        </div>
        <div class="panel-body">
          <table  class="table table-striped" >
            <tbody>
              <tr>
                <td>
                  Created At:
                </td>
                <td>{{member.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
              </tr>
              <tr>
                <td>Active:</td>
                <td><input class="absorbing-column" type="checkbox" dropdowneditable ng-model="member.is_active" /></td>
              </tr>
              <tr>
                <td>Member DOB:</td>
                <td>
                    <div class="col-sm-10">
                      <p class="input-group">
                        <input dropdowneditable type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="member.date_of_birth" is-open="opened" ng-required="true" close-text="Close" />
                        <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open_date($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                      </p>
                    </div>
                </td>
              </tr>
              <tr>
                <td>Member Gender:</td>
                <td>
                  <select dropdowneditable type="button" class="btn btn-default" ng-model="member.gender" placeholder="{{member.gender}}">
                    <option ng-repeat="option in enums.members.gender | filter: '!!'" ng-selected="{{option === member.gender}}">{{option}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Member Type:</td>
                <td>
                  <select dropdowneditable type="button" class="btn btn-default" ng-model="member.member_type" placeholder="{{member.member_type}}">
                    <option ng-repeat="option in enums.members.member_type | filter: '!!'" ng-selected="{{option === member.member_type}}">{{option}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Member Affiliation:</td>
                <td ng-controller="TeamsController">
                  <select dropdowneditable type="button" class="btn btn-default" ng-model="$parent.member.affiliation" 
                          ng-options="team.name for team in teams track by team._id">
                    <option value="">-- choose affiliation --</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Member Skate Name:</td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.skate_name"></div></td>
              </tr>
              <tr>
                <td>Member Skate Number:</td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.skate_number"></div></td>
              </tr>
              <tr>
                <td>Member Skate Size:</td>
                <td><div class="absorbing-column" contenteditable="true" ng-model="member.skate_size"></div>
                </td>
              </tr>
              <tr>
                <td>Member Knee Pad Size:</td>
                <td><select dropdowneditable type="button" class="btn btn-default" ng-model="member.knee_pad_size" placeholder="{{member.knee_pad_size}}">
                    <option ng-repeat="option in enums.members.knee_pad_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
                  </select></td>
              </tr>
              <tr>
                <td>Member Elbow Pad Size:</td>
                <td><select dropdowneditable type="button" class="btn btn-default" ng-model="member.elbow_pad_size" placeholder="{{member.elbow_pad_size}}">
                    <option ng-repeat="option in enums.members.elbow_pad_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Member Wrist Size:</td>
                <td><select dropdowneditable type="button" class="btn btn-default" ng-model="member.wrist_size" placeholder="{{member.wrist_size}}">
                    <option ng-repeat="option in enums.members.wrist_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
                  </select></td>
              </tr>
            <tr>
              <td>Member Helmet Size:</td>
              <td><select dropdowneditable type="button" class="btn btn-default" ng-model="member.helmet_size" placeholder="{{member.helmet_size}}">
                    <option ng-repeat="option in enums.members.helmet_size | filter: '!!'" ng-selected="option.selected">{{option}}</option>
                  </select></td>
            </tr>
            <tr>
              <td>Member Occupation:</td>
              <td><div class="absorbing-column" contenteditable="true" ng-model="member.occupation"></div></td>
            </tr>
            <tr>
              <td>Member Employer:</td>
              <td><div class="absorbing-column" contenteditable="true" ng-model="member.employer"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Insurance Info</strong>
          <button class="btn btn-default btn-xs pull-right" ng-click="add_insurance()">Add New</button>
        </div>
        <div class="panel-body">
          <div class="list-group" ng-repeat="insurance in member.insurances">
            <a ng-click="open_insurance(insurance)" class="list-group-item">{{insurance.created_at | date:"MM/dd/yyyy 'at' h:mma"}}
              <span class="pull-right text-muted">{{insurance.primary_carrier}}</span>
            </a>
          </div>
        </div>
      </div>
      <accordion>
        <accordion-group heading="Change Log">
          <div class="list-group" ng-repeat="log in member_logs | limitTo: 5">
            <div class="list-group-item" ><strong>{{log.created_by.email}}</strong><br/>
              <span class="text-muted small">{{log.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</span><br/>
              <div ng-repeat="(key, value) in log.diff">
                <span class="pull-left text-muted"><strong>Field Changed: </strong>{{key}} </span>
                <span class="pull-right text-muted"><strong>From:</strong> {{value.from}} <strong>To:</strong> {{value.to}}</span><br/>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>
  </div>
</div>
</div>