<div>
    <div class="modal-header">
        <h3 class="modal-title">New Note</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" >
            <div class="input-field">
                <label for="contact_type" class="col-sm-3">Content:</label>
                <textarea id="contact_type" class="form-control" type="text" ng-model="note.content"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>