<div ng-switch on="update">
    <div ng-switch-default>
        <div class="modal-header">
            <h3 class="modal-title">Note</h3>
        </div>
        <div class="modal-body">
            Note Created: {{selected_note.created_at}} <br>
            Content: {{selected_note.content}} <br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="edit()">Edit</button>
            <button class="btn btn-danger" ng-click="delete()">Delete</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <div ng-switch-when="edit">
        <div class="modal-errors">
            <flash:messages></flash:messages>
        </div>
        <div class="modal-header">
            <h3 class="modal-title">Update Contact!</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" >
            <label for="contact_type" class="col-sm-3">Content:</label>
            <input id="contact_type" class="form-control" type="text" ng-model="selected_note.content" />
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submit()">Update</button>
            <button class="btn btn-warning" ng-click="edit_cancel()">Cancel</button>
        </div>
    </div>
</div>