<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base href="/">
    <title></title>
    <link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="css/dashboard.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <script src="libs/angular/angular.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="libs/angular-cookies/angular-cookies.js"></script>
    <script src="libs/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="libs/angular-flash-messages/angular-flash.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/MemberController.js"></script>
    <script src="js/controllers/ContactController.js"></script>
    <script src="js/controllers/UserController.js"></script>
    <script src="js/controllers/TeamController.js"></script>
    <script src="js/controllers/NoteController.js"></script>
    <script src="js/controllers/InsuranceController.js"></script>
    <script src="js/services/MemberService.js"></script>
    <script src="js/services/AuthService.js"></script>
    <script src="js/services/UserService.js"></script>
    <script src="js/services/SessionService.js"></script> 
    <script src="js/services/ContactService.js"></script>
    <script src="js/services/TeamService.js"></script>
    <script src="js/services/NoteService.js"></script>
    <script src="js/services/EnumService.js"></script>
    <script src="js/services/InsuranceService.js"></script>
    <script src="js/services/LogService.js"></script>
    <script src="js/directives/inlineEdit.js"></script>
    <script src="js/directives/dropdownEdit.js"></script>
    <script src="js/filters/truncate.js"></script>
  </head>
  <body  ng-app="app" ng-controller="MainController">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
            <a class="navbar-brand" href="/">Rose City Rollers</a>
          </div>
          <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right"  ng-hide="currentUser">
            <!-- hide if currentUser is not null -->
            <li><a href="/login">Log In</a></li>
          </ul>
            <!-- show if currentUser is not null  -->
            <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
              <li>
                <input id="search_member" type="text" placeholder="Search members..." ng-model="search_text" ng-change="search()"/>
                <ul id="search_results" class="dropdown-menu" ng-hide="!search_text || search_text === ''"> 
                  <li ng-repeat="member in search_results" ng-click="reset_search()">
                    <a href="/members/{{ member._id }}"><b>{{member.first_name}} {{member.last_name}}</b> aka <b>{{member.skate_name}}</b></a>
                  </li>
                </ul>
              </li>
              <li class="navbar-text">Signed in as {{currentUser.username}}</li>
              <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="col-md-2 sidebar" id="sidebar">
      <ul class="nav nav-sidebar">
          <li><a href="/members"><i class="glyphicon glyphicon-user"></i> Members</a></li>
          <li><a href="/teams"><i class="glyphicon glyphicon-list-alt"></i> Teams</a></li>
          <li ng-show="currentUser.role==='admin'"><a href="/users"><i class="glyphicon glyphicon-th-list"></i> Users</a></li>
          <li ng-show="currentUser.role==='admin'"><a href="/reports"><i class="glyphicon glyphicon-folder-open"></i> Reports</a></li>
       </ul>
    </div>
    <div class="col-md-10 col-md-offset-2 main">
      <div class="row">
        <ol class="col-md-6 col-md-offset-3" flash:messages></ol>
      </div>
      <div ng-view></div>
    </div>
    <script>
    $(document).ready(function() {
      $('.navbar-toggle').click(function() {
        $('#sidebar').toggle();
      });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip({container: 'body'});
        });
     
    });
    </script>
  </body>
</html>

        
        
