<h2 class="pageheader">Users</h2>
<div class="col-md-8 col-md-offset-2">
<table  class="table table-striped" >
  <thead>
    <tr>
      <th>User Name / Email</th>
      <th>User Role</th>
      <th><a href="/users/new" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i>  Add New</a></th>
    </tr>
  </thead>
  <tbody ng-repeat="user in users">
    <tr>
      <td><a href="/users/{{ user._id }}">{{ user.username }}</a><br/><span class="text-muted small"><em>{{user.email}}</em></span></td>
      <td>{{user.role}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>