<div class="container">
  <div class="row">
    <h1 class="text-center login-title">Sign up</h1>
    <div class="col-sm-6 col-md-4 col-md-offset-4 signup-well">
      <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div class="form-group"
          ng-class="{
            'has-warning': form.email.$dirty,
            'has-success': form.email.$valid && form.email.$dirty && !form.email.$error.mongoose,
            'has-error': form.email.$invalid && form.email.$dirty || form.email.$error.mongoose
        }">
        <input class="form-control"
          placeholder="Your Email"
          type="email"
          name="email"
          ng-model="user.email"
          required
          autofocus
          on-focus
        mongoose-error/>
        <p class="help-block"
          ng-show="form.email.$error.email && !form.email.$focused">
            Not a valid email.
        </p>
        <p class="help-block"
          ng-show="form.email.$error.mongoose">
          {{ errors.email }}
        </p>
    </div>
        <div class="form-group"
            ng-class="{
          'has-warning': form.username.$dirty,
          'has-success': form.username.$valid && form.username.$dirty && !form.username.$error.mongoose,
          'has-error': form.username.$invalid && form.username.$dirty || form.username.$error.mongoose
        }">
          <input class="form-control"
            placeholder="Username"
            type="text"
            name="username"
            ng-model="user.username"
            required
            unique-username
            mongoose-error/>
          <p class="help-block"
            ng-show="form.username.$error.unique && form.username">
              That username is already taken.
          </p>
          <p class="help-block"
            ng-show="form.password.$error.mongoose">
            {{ errors.username }}
          </p>
        </div>
        <div class="form-group"
          ng-class="{'has-warning': form.password.$dirty,
            'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.mongoose,
            'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.mongoose
          }">
          <input class="form-control"
            placeholder="Password"
            type="password"
            name="password"
            ng-model="user.password"
            ng-minlength="5"
            required
            mongoose-error/>
          <p class="help-block"
            ng-show="(form.password.$error.minlength || form.password.$invalid)
              && form.password.$dirty
              && !form.password.$error.required">
              Password must be at least 5 characters.
          </p>
          <p class="help-block"
            ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
        <div class="form-group">
          <select type="button" class="btn btn-default" ng-model="user.role" placeholder="User Role" required>
            <option ng-repeat="option in enums.users.roles | filter: '!!'" ng-selected="option.selected">{{option}}</option>
          </select>
        </div>
        <br />
        <button class="btn btn-lg btn-primary btn-block"
          type="submit"
          ng-disabled="form.$invalid">Sign up</button>
      </form>
    </div>
  </div>
</div>