<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>User Info</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel-body">
	          <table class="table table-striped" >
	            <tbody>
	              <tr>
	                <td class="field">User Name:</td>
	                <td>
	                	<div class="absorbing-column" contenteditable="true" ng-model="user.username">
	                	</div>
	                </td>
	              </tr>
	              <tr>
	                <td class="field">User Email:</td>
	                <td>
	                	<div class="absorbing-column" contenteditable="true" ng-model="user.email">
	                	</div>
	                </td>
	              </tr>
	              <tr>
	                <td class="field">Role:</td>
	                <td>
	                	<select dropdowneditable type="button" class="btn btn-default" ng-model="user.role" placeholder="{{user.role}}">
	                    <option ng-repeat="option in enums.users.roles | filter: '!!'" ng-selected="option.selected">{{option}}</option>
	                  </select>
	                </td>
	              </tr>
	          </tbody>
	      </table>
		</div>
	</div>
</div>