<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Members</h3>
    </div>

    <div class="modal-body">
        <ul ng-repeat="member in member_list">
            <li>{{member.first_name}} {{member.last_name}}</li>
        </ul>
        <div class="row col-md-offset-2 col-sm-offset-2 col-lg-offset-2">
            <input type="text" placeholder="First Name" ng-model="member.first_name"></input>
            <input type="text" placeholder="Last Name" ng-model="member.last_name"></input>
            <button class="btn btn-primary" ng-click="add_member_list()">Add</button>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()" ng-disabled="team_form.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>