<div>
    <div class="modal-header">
        <h3 class="modal-title">Delete {{ team.name }}</h3>
    </div>
    <div class="modal-body center-block text-center">
      <p class="">Are you sure you want to delete this affiliation?</p>
        <button class="btn btn-danger" ng-click="delete()">Yes, delete</button>
        <button class="btn btn-warning" ng-click="cancel()">No, cancel</button>
    </div>
</div>