<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit Affiliation</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="team_form">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Affiliation Name:</label>
                <div class="col-sm-8">
                  <input id="name" class="form-control " type="text" ng-model="team.name" required />
              </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()" ng-disabled="team_form.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>