<h2 class="pageheader">Teams</h2>
<div class="col-md-8 col-md-offset-2">
<table  class="table table-striped" >
  <thead>
    <tr>
      <th>Team Name</th>
      <th><a ng-click="addTeam()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span>Add New</a></th>
    </tr>
  </thead>
  <tbody ng-repeat="team in teams">
    <tr>
      <td><a href="/teams/{{ team._id }}">{{ team.name }}</a><br/></td>
      <td><a ng-click="deleteTeam( team )" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span>Delete</a></td>
    </tr>
  </tbody>
</table>
</div>