<div>
    <div class="modal-header">
        <h3 class="modal-title">New Affiliation</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="team_form" >
            <div class="input-field">
                <label for="name" class="col-sm-3">Affiliation Name:</label>
                <input id="name" class="form-control" type="text" ng-model="team.name" required />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()" ng-disabled="team_form.$invalid">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>