<div class="row"> 
  <h2 contenteditable="true" class="pageheader" ng-model="team.name"></h2>
</div>
<div class="col-md-8 col-md-offset-2">

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Members</strong>
    <button class="btn btn-default btn-xs pull-right" ng-click="addMembers()"><span class="glyphicon glyphicon-plus"></span>Add Member</button>
  </div>
  <div class="panel-body">
    <div class="list-group" ng-repeat="member in team.members">
      <a href="/members/{{ member._id }}" class="list-group-item"> <strong>{{ member.first_name }} {{ member.last_name }}</strong>
        <span class="pull-right text-muted small"><em>{{member.skate_name || "None"}}</em></span></br>
        <strong class="text-bold">Phone:</strong> {{member.phone_number || "None"}} 
        <span class="pull-right text-muted small"><em>{{member.skate_number || "None"}}</em></span></br>
        <strong class="text-bold">Email:</strong> {{member.email_address || "None"}} </br>
      </a>
    </div>
  </div>
</div>
