<div>
    <div class="modal-header">
        <h3 class="modal-title">New Insurance</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" >
            <div class="input-field">
                <label for="insurance_wftda" class="col-sm-3">WFTDA</label>
                <input id="insurance_wftda" class="form-control" type="text" ng-model="insurance.WFTDA" required />
            </div>
            <div class="input-field">
                <label for="other_accidental_medical_policy_name" class="col-sm-3">Other Accidental Medical Policy Name</label>
                <input id="other_accidental_medical_policy_name" class="form-control" type="text" ng-model="insurance.other_accidental_medical_policy_name" />
            </div>
            <div class="input-field">
                <label for="primary_carrier" class="col-sm-3">Primary Carrier:</label>
                <input id="primary_carrier" class="form-control" type="text" ng-model="insurance.primary_carrier" />
            </div>
            <div class="input-field">
                <label for="medical_conditions" class="col-sm-3">Medical Conditions</label>
                <input id="medical_conditions" class="form-control" type="text" ng-model="insurance.medical_conditions" />
            </div>
            <div class="input-field">
                <label for="allergies" class="col-sm-3">Allergies:</label>
                <input id="allergies" class="form-control" type="text" ng-model="insurance.allergies" />
            </div>
            <div class="input-field">
                <label for="WFTDA_confidentiality_acknowledgement_tracking" class="col-sm-3">WFTDA Confidentiality Acknowledgement Tracking:</label>
                <input id="WFTDA_confidentiality_acknowledgement_tracking" class="form-control" type="checkbox" ng-model="insurance.WFTDA_confidentiality_acknowledgement_tracking" />
            </div>
            <div class="input-field">
                <label for="concussion_training_complete" class="col-sm-3">Concussion Training Complete:</label>
                <input id="concussion_training_complete" class="form-control" type="checkbox" ng-model="insurance.concussion_training_complete" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="create()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>