<div ng-switch on="update">
    <div ng-switch-default>
        <div class="modal-header">
            <h3 class="modal-title">Insurance Info</h3>
        </div>
        <div class="modal-body">
            Create_at: {{selected_insurance.created_at | date:"MM/dd/yyyy 'at' h:mma"}} <br>
            WFTDA: {{selected_insurance.WFTDA}} <br>
            Other Accidental Medical Policy Name: {{selected_insurance.other_accidental_medical_policy_name}} <br>
            Primary Carrier: {{selected_insurance.primary_carrier}} <br>
            Medical Conditions: {{selected_insurance.medical_conditions}} <br>
            Allergies: {{selected_insurance.allergies}} <br>
            WFTDA Confidentiality Acknowledgement: {{selected_insurance.WFTDA_confidentiality_acknowledgement_tracking}} <br>
            Concussion Training Complete: {{selected_insurance.concussion_training_complete}} <br>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="edit()">Edit</button>
            <button class="btn btn-danger" ng-click="delete()">Delete</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <div ng-switch-when="edit">
        <div class="modal-errors">
          <flash:messages></flash:messages>
        </div>
        <div class="modal-header">
            <h3 class="modal-title">Update Insurance Info</h3>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" >
            <label for="WFTDA" class="col-sm-3">WFTDA:</label>
            <input id="WFTDA" class="form-control" type="text" ng-model="selected_insurance.WFTDA" required />

            <label for="other_accidental_medical_policy_name" class="col-sm-3">Other Accidental Medical Policy Name:</label>
            <input id="other_accidental_medical_policy_name" class="form-control" type="text" ng-model="selected_insurance.other_accidental_medical_policy_name" />

            <label for="primary_carrier" class="col-sm-3">Primary Carrier:</label>
            <input id="primary_carrier" class="form-control" type="text" ng-model="selected_insurance.primary_carrier" />

            <label for="medical_conditions" class="col-sm-3">Medical Conditions:</label>
            <input id="medical_conditions" class="form-control" type="text" ng-model="selected_insurance.medical_conditions" />
            
            <label for="allergies" class="col-sm-3">Allergies:</label>
            <input id="allergies" class="form-control" type="text" ng-model="selected_insurance.allergies" />

            <label for="WFTDA_confidentiality_acknowledgement_tracking" class="col-sm-3">WFTDA Confidentiality Acknowledgement:</label>
            <input id="WFTDA_confidentiality_acknowledgement_tracking" class="form-control" type="checkbox" ng-model="selected_insurance.WFTDA_confidentiality_acknowledgement_tracking" />

            <label for="concussion_training_complete" class="col-sm-3">Concussion Training Complete:</label>
            <input id="concussion_training_complete" class="form-control" type="checkbox" ng-model="selected_insurance.concussion_training_complete" />
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="submit()">Update</button>
            <button class="btn btn-warning" ng-click="edit_cancel()">Cancel</button>
        </div>
    </div>
</div>